* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.barra{
    background-color: rgb(238, 11, 45);
    padding: 1em;
    text-align: left;

}
.barra a{
    color: white;
    font-size: 0.7rem;
    max-width: 90%;
    text-decoration: none;
    padding: 1em;
}

.barra a:hover{
    color:black;
    background-color: white;
    cursor: pointer;
}


header{
    background-color: red;
    text-align: center;
    padding: auto;
    padding-bottom: 0.6em;
}